@model IEnumerable<Industry4_0.Models.EmergingTechnologiesFeedback>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Heading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergingTechnologies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disagree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergingTechnologies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disagree)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<style>
    body {
        padding-left: 15px;
        padding-right: 15px;
    }

    footer {
        position: fixed;
        left: 15px;
        bottom: 0px;
        width: 100%;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>