@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Companies and Organizations";
}
<div class="row" style="margin-left: 10px; margin-right:10px;">
    <figure class="col-sm-12" id="background" style="padding:10px; padding-top: 0px;">
        <img src="~/images/Companies/office1.jpg" alt="Companies and Organizations in Industry 4.0" class="img-responsive" />
        <figcaption class="fig" style="padding-top:0; background-color: rgba(0,0,0,0);visibility:visible;">
            <div style="font-size: 5vw; padding-top: 5%;">
                Company and Organizations In The Industry 4.0
            </div>
            <p class="subtitle">The Industry 4.0 market is forecasted to reach $1 trillion by 2030, dominated by global technology giants including Alphabet-Google, NEC, Microsoft, and more. Here's are the 6 companies and organizations that have a huge influence on the Industry 4.0.</p>
        </figcaption>
    </figure>
</div>

<div class="row" style="margin-left: 10px; margin-right:10px;">

    <figure class="col-sm-6" style="padding:10px;">
        <img src="~/images/Companies/ibm.jpg" alt="IBM" class="img-responsive" />
        <figcaption>
            <div>IBM</div>
            <a class="btn btn1 " href="https://www.ibm.com">Visit Website</a>
        </figcaption>
    </figure>
    <figure class="col-sm-6" style="padding:10px">
        <img src="~/images/Companies/amazon.jpg" alt="Amazon" class="img-responsive" />
        <figcaption>
            <div>Amazon</div>
            <a class="btn btn1 " href="">Visit Website</a>
        </figcaption>
    </figure>
    <figure class="col-sm-12" style="padding:10px">
        <img src="~/images/Companies/Google.jpg" alt="Google" class="img-responsive" />
        <figcaption>
            <div>Google</div>
            <a class="btn btn1 " href="https://www.google.com.au/about/">Visit Website</a>
        </figcaption>
    </figure>
    <figure class="col-sm-6" style="padding:10px">
        <img src="~/images/Companies/microsoft.jpg" alt="Microsoft" class="img-responsive" />
        <figcaption>
            <div>Microsoft</div>
            <a class="btn btn1 " href="https://www.microsoft.com/">Visit Website</a>
        </figcaption>
    </figure>
    <figure class="col-sm-6" style="padding:10px">
        <img src="~/images/Companies/CSIRO.jpg" alt="CSIRO" class="img-responsive" />
        <figcaption>
            <div>CSIRO</div>
            <a class="btn btn1 " href="https://www.csiro.au/">Visit Website</a>
        </figcaption>
    </figure>
    <figure class="col-sm-12" style="padding:10px; padding-bottom:0px;">
        <img src="~/images/Companies/6.jpg" alt="Deparment of Industry Innovation and Science" class="img-responsive" />
        <figcaption>
            <div>Department Of Industry, Innovation and Science</div>
            <a class="btn btn1 " href="https://www.industry.gov.au/">Visit Website</a>
        </figcaption>
    </figure>
</div>
<br />

<div class="title" id="feedback">Feedback</div>

            <div class="fb">
                @{
                    if (User.IsInRole("Administrator") || User.IsInRole("User"))
                    {
                        <a class="btn post" href="~/CompaniesFeedbacks/Create">Submit your feedback</a>
                    }
                    else
                    {
                        <div style="text-align:center">Please <a href="~/Account/Login?ReturnUrl=~/Home/EmergingTechnologies/#feedback/">login</a> or <a href="~/Account/Register">create an account</a> to post of this page!</div>
                    }
                }
                @model IEnumerable<Industry4_0.Models.CompaniesFeedback>

                @{
                    int index = 1;
                    @foreach (var item in Model)
                    {
                        <h2>
                            @Html.DisplayFor(modelItem => item.Heading)
                        </h2>
                        <h3>
                            @Html.DisplayFor(modelItem => item.Companies)
                        </h3>
                        <h4>
                            @Html.DisplayFor(modelItem => item.Rating)
                            @{
                                int numStars = item.Rating;
                                for (int i = 0; i < numStars; i++)
                                {
                                    <span style="color: #f8bd08; ">&#x2605;</span>
                                }
                                for (int i = 0; i < 5 - numStars; i++)
                                {
                                    <span>&#x2606;</span>
                                }
                            }

                        </h4>
                        <p>
                            @Html.DisplayFor(modelItem => item.Feedback)
                        </p>
                        <div>
                            Feedback by @Html.DisplayFor(modelItem => item.Username) on @Html.DisplayFor(modelItem => item.Date)
                        </div>
                        <div style="margin-top: 20px">

                                    <a asp-controller="CompaniesFeedbacks" asp-action="Details" asp-route-id="@item.ID" class="btn btn-default">Details</a>
                                    <a asp-controller="CompaniesFeedbacks" asp-action="Agree" asp-route-id="@item.ID" class="btn greenbtn">Agree (@Html.DisplayFor(modelItem => item.Agree))</a>
                                    <a asp-controller="CompaniesFeedbacks" asp-action="Disagree" asp-route-id="@item.ID" class="btn redbtn">Disagree (@Html.DisplayFor(modelItem => item.Disagree))</a>
                          
                            @{
                                if (User.IsInRole("Administrator"))
                                {
                                    <div class="pull-right">
                                        <a asp-controller="CompaniesFeedbacks" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-default">Edit</a>
                                        <a asp-controller="CompaniesFeedbacks" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-default" onclick="return confirm('Are you sure you want to delete this file?')">Delete</a>
                                    </div>
                                }
                            }
                        </div>
                        index++;
                        <hr class="line"/>
                    }
                }
            </div>

<style>
    .fig {
        top: 20%;
    }

    @@media (min-width: 1281px) {
        figure > figcaption > div {
            font-size: 50px;
        }
    }

    @@media (min-width: 1025px) and (max-width:1280px) {
        figure > figcaption > div {
            font-size: 40px;
        }
    }

    @@media (min-width: 768px) and (max-width: 1024px) {
        figure > figcaption > div {
            font-size: 35px;
        }
    }

    @@media (max-width: 768px) {
        figure > figcaption > div {
            font-size: 5vw;
        }
    }
</style>
